<html>
<body>
    <h2>User Registration Form</h2>
    <form action="/register" method="POST">

        Username: <input type="text" name="username" required><br><br>

        Roll No: <input type="text" name="rollno" required><br><br>

        Email: <input type="email" name="email" required><br><br>

        Year: 
        <select name="year" required>
            <option value="">Select Year</option>
            <option value="1st Year">1st Year</option>
            <option value="2nd Year">2nd Year</option>
            <option value="3rd Year">3rd Year</option>
            <option value="4th Year">4th Year</option>
        </select>
        <br><br>

        <button type="submit">Register</button>

    </form>
</body>
</html>
